<footer class="footer">
    <div class="p-5" style="background-color: #52b098; color: white; font-weight: bold;">
        <span>A Project conducted by the 2020 NYMU iGem Team</span>
        <div class="pt-5 pb-5">
            <div>
                <img src="../assets/icon/icon_email.svg">
                nymuigem2020@gmail.com
            </div>
            <div>
                <img src="../assets/icon/icon_instagram.svg">
                @wetlabtenpeaple
            </div>
            
        </div>
        <span>Copyright 2020 NYMU iGem Team. All Rights Reserved </span>
    </div>
    <div class="m-2">
        <img style="width: 30%;" src="/src/assets/img/Sponsors/pegavision.png">
        <img style="width: 39%;" src="/src/assets/img/logo_iGem_Taipei.png">
        <img style="width: 30%;" src="/src/assets/img/Sponsors/snapgene.svg">
    </div>
</footer>