<footer class="footer">

    <div class="footer-info text-white">
        <div class="container-xl">
            <span class="">A Project conducted by the 2020 NYMU iGem Team</span>
            <div class="">
                <div class="">
                    <img src="https://2020.igem.org/wiki/images/9/9f/T--NYMU-Taipei--icon_email.svg" class="img-fluid">
                    nymuigem2020@gmail.com
                </div>
                <div class="">
                    <img src="https://2020.igem.org/wiki/images/a/a1/T--NYMU-Taipei--icon_instagram.svg" class="img-fluid">
                    @wetlabtenpeaple
                </div>
            </div>
            <span>Copyright 2020 NYMU iGem Team. All Rights Reserved </span>
        </div>
    </div>

</footer>

