<footer class="footer">

    <div class="footer-info text-white py-5">
        <div class="container text-bold">
            <span class="pb-5 mb-5">A Project conducted by the 2020 NYMU iGem Team</span>
            <div class="py-5 mt-5 pb-5">
                <div class="py-1">
                    <img src="../assets/icon/icon_email.svg" class="pr-1">
                    nymuigem2020@gmail.com
                </div>
                <div class="py-1">
                    <img src="../assets/icon/icon_instagram.svg" class="pr-1">
                    @wetlabtenpeaple
                </div>
            </div>
            <span>Copyright 2020 NYMU iGem Team. All Rights Reserved </span>
        </div>
    </div>

    <div class="footer-sponsors">
        <div class="container">
            <div class="row p-5">
                <div class="col-md-4 py-4 d-flex justify-content-center align-items-center">
                    <img src="/src/assets/img/Sponsors/pegavision.png">
                </div>

                <div class="col-md-4 py-4 d-flex justify-content-center align-items-center">
                    <img src="/src/assets/img/logo_iGem_Taipei.png">
                </div>

                <div class="col-md-4 py-4 d-flex justify-content-center align-items-center">
                    <img src="/src/assets/img/Sponsors/snapgene.svg">
                </div>
            </div>
        </div>
    </div>
</footer>
