<style>
    /* NAVBAR */

    .fixed-top {
        top: 16px;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }

    .navbar-brand {
        background-image: url("https://2020.igem.org/wiki/images/e/e3/T--NYMU-Taipei--logo_nav_brand.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 200px;
        min-height: 63px;
        margin: 0;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top d-flex text-bold" style="background-color: #52b098;">
        <div class="container">
            <div class="navbar-brand mr-4">

            </div>

            <!-- Collapse button -->
            <button class="navbar-toggler x-button" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav justify-content-between" style="width: 100%;">
                    <li class="nav-item m-auto">
                        <a class="nav-link" href="/src/WS-basic/index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown m-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Team
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="/src/WS-basic/pages/Members.html">Members</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Attributions.html">Attributions</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown m-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Project
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/src/WS-basic/pages/DescriptionPage.html">Description</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Design.html">Design</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Results.html">Results</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Modeling.html">Modeling</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Software.html">Software</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Hardware.html">Hardware</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Implementation.html">Implementation</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Contribution.html">Contribution</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown m-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Parts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                            <a class="dropdown-item" href="/src/WS-basic/pages/Parts.html">Parts</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Engineering.html">Engineering</a>

                        </div>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link" href="/src/WS-basic/pages/Safety.html">Safety</a>
                    </li>
                    <li class="nav-item dropdown m-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            HP
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <a class="dropdown-item" href="/src/WS-basic/pages/HumanPractices.html">Human Practices</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Collaborations.html">Collaborations</a>
                            <a class="dropdown-item" href="/src/WS-basic/pages/Education.html">Education</a>
                            <a href="/src/WS-basic/pages/Partnership.html" class="dropdown-item">Partnership</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown m-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Interlab
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <a href="/src/WS-basic/pages/Notebook.html" class="dropdown-item">Notebook</a>
                            <a href="/src/WS-basic/pages/Experiments.html" class="dropdown-item">Experiments</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown m-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Awards
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <a href="/src/WS-basic/pages/Awards.html" class="dropdown-item">Awards</a>
                            <a href="/src/WS-basic/pages/Criteria.html" class="dropdown-item">Criteria</a>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>
<script>
    $(document).ready(function () {
        $('.x-button').on('click', function () {
            $('.animated-icon').toggleClass('open');
        });
    });
</script>
