@font-face {
    font-family: 'poppins';
    src: url("https://2020.igem.org/wiki/images/d/d8/T--NYMU-Taipei--Poppins-Regular.ttf");
}

@font-face {
    font-family: 'poppins';
    src: url('https://2020.igem.org/wiki/images/d/d7/T--NYMU-Taipei--Poppins-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'poppins';
    src: url('https://2020.igem.org/wiki/images/a/ae/T--NYMU-Taipei--Poppins-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'poppins';
    src: url('https://2020.igem.org/wiki/images/6/6a/T--NYMU-Taipei--Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: poppins;
    color: #363636;
}

h3 {
    font-weight: bold;
}

/* DESCRIPTIONPAGE */

.text-container {
    padding-top: 100px;
}

.divide-line {
    background-color: black;
    height: 4px;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.img-style {
    display: flex;
    align-items: center;
    justify-content: center;
}