.img-bottom-hr {
    width: 95%;
}

.img-bottom-p {
    font-weight: bold;
}

.quesion-block {
    background-color: #52b098;
    color: aliceblue;
    border-radius: 0 35px 35px 35px;
    display: flex;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 11px rgba(55, 55, 55, 0.356);
}

.answer-block {
    background-color: rgb(255, 255, 255);
    color:black;
    border-radius: 35px 0 35px 35px;
    display: flex;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 11px rgba(55, 55, 55, 0.356);
}

.block-punctuation {
    font-size: 2.5rem;
}

.epilogue-block {
    border: 5px solid;
    background-color: white;
}
.epilogue-block h5 {
    font-style: italic;
}
.epilogue-block hr {
    width: 18%;
    background-color: rgb(104, 104, 104);
    height: 4px;
}