/* MEMBERS PAGE ONLY */

.chinese-word-font {
  font-family: NotoSansTC;
  color: #181818;
  font-weight: bold;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.info-block p {
  line-height: 1rem;
  text-align: center;
}

.rounded-img {
  height: 15rem;
  border-radius: 50%;
}

#Yi-Lin:hover {
  content: url("https://2020.igem.org/wiki/images/8/89/T--NYMU-Taipei--Catherine_2.JPG");
}

#Bo-Han:hover {
  content: url("https://2020.igem.org/wiki/images/7/72/T--NYMU-Taipei--Brian_2.JPG");
}

#You-Cheng:hover {
  content: url("https://2020.igem.org/wiki/images/f/fb/T--NYMU-Taipei--Albert_2.JPG");
}

#Yu-Te:hover {
  content: url("https://2020.igem.org/wiki/images/8/8a/T--NYMU-Taipei--Blue_2.JPG");
}

#Jo-An:hover {
  content: url("https://2020.igem.org/wiki/images/5/57/T--NYMU-Taipei--Miffy_2.JPG");
}

#Terrance:hover {
  content: url("https://2020.igem.org/wiki/images/4/4e/T--NYMU-Taipei--Terrance_2.JPG");
}

#Yu-Chuan:hover {
  content: url("https://2020.igem.org/wiki/images/f/fc/T--NYMU-Taipei--Charlie_2.JPG");
}

#Huang-Yen:hover {
  content: url("https://2020.igem.org/wiki/images/0/0c/T--NYMU-Taipei--Michael_2.JPG");
}

#Jia-Yin:hover {
  content: url("https://2020.igem.org/wiki/images/8/83/T--NYMU-Taipei--Cathy_2.JPG");
}

#Tao-Wei:hover {
  content: url("https://2020.igem.org/wiki/images/b/b5/T--NYMU-Taipei--David_2.JPG");
}

#Chun-Yi:hover {
  content: url("https://2020.igem.org/wiki/images/c/ca/T--NYMU-Taipei--Chunyi_3.JPG");
}

#Chieh-Yun:hover {
  content: url("https://2020.igem.org/wiki/images/a/af/T--NYMU-Taipei--Ponpon_3.JPG");
}

#You-Sheng:hover {
  content: url("https://2020.igem.org/wiki/images/e/e4/T--NYMU-Taipei--Huang_2.JPG");
}

#Yu-Fan:hover {
  content: url("https://2020.igem.org/wiki/images/2/2f/T--NYMU-Taipei--Frenda_2.JPG");
}

#Hsin-Pei:hover {
  content: url("https://2020.igem.org/wiki/images/a/a7/T--NYMU-Taipei--Jasmin_2.JPG");
}
