/* MEMBERS PAGE ONLY */

.chinese-word-font {
  font-family: NotoSansTC;
  color: #181818;
  font-weight: bold;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-block p {
  line-height: 1rem;
  text-align: center;
}

.rounded-img {
  height: 300px;
  border-radius: 50%;
}

#Yi-Lin:hover {
  content: url("/src/assets/img/Team/Catherine_2.JPG");
}

#Bo-Han:hover {
  content: url("/src/assets/img/Team/Brian_2.JPG");
}

#You-Cheng:hover {
  content: url("/src/assets/img/Team/Albert_2.JPG");
}

#Yu-Te:hover {
  content: url("/src/assets/img/Team/Blue_2.JPG");
}

#Jo-An:hover {
  content: url("/src/assets/img/Team/Miffy_2.JPG");
}

#Terrance:hover {
  content: url("/src/assets/img/Team/Terrance_2.JPG");
}

#Yu-Chuan:hover {
  content: url("/src/assets/img/Team/Charlie_2.JPG");
}

#Huang-Yen:hover {
  content: url("/src/assets/img/Team/Michael_2.JPG");
}

#Jia-Yin:hover {
  content: url("/src/assets/img/Team/Cathy_2.JPG");
}

#Tao-Wei:hover {
  content: url("/src/assets/img/Team/David_2.JPG");
}

#Chun-Yi:hover {
  content: url("/src/assets/img/Team/Chunyi_3.JPG");
}

#Chieh-Yun:hover {
  content: url("/src/assets/img/Team/Ponpon_3.JPG");
}

#You-Sheng:hover {
  content: url("/src/assets/img/Team/Huang_2.JPG");
}

#Yu-Fan:hover {
  content: url("/src/assets/img/Team/Frenda_2.JPG");
}

#Hsin-Pei:hover {
  content: url("/src/assets/img/Team/Jasmin_2.JPG");
}
