/* FONT */

@font-face {
  font-family: "poppins";
  src: url("https://2020.igem.org/wiki/images/d/d8/T--NYMU-Taipei--Poppins-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "poppins";
  src: url("https://2020.igem.org/wiki/images/d/d7/T--NYMU-Taipei--Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "poppins";
  src: url("https://2020.igem.org/wiki/images/a/ae/T--NYMU-Taipei--Poppins-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "poppins";
  src: url("https://2020.igem.org/wiki/images/6/6a/T--NYMU-Taipei--Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "poppins";
  src: url("https://2020.igem.org/wiki/images/d/d7/T--NYMU-Taipei--Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "NotoSansTC";
  src: url("/src/assets/NotoSansTC/NotoSansTC-Medium.otf");
  font-weight: medium;
}

@font-face {
  font-family: "NotoSansTC";
  src: url("/src/assets/NotoSansTC/NotoSansTC-Thin.otf");
  font-weight: thin;
}

@font-face {
  font-family: "NotoSansTC";
  src: url("/src/assets/NotoSansTC/NotoSansTC-Bold.otf");
  font-weight: bold;
}

/* UNIVERSAL STYLES */

body {
  font-family: poppins;
  color: #363636;
  font-weight: medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  text-align: justify;
  font-weight: medium;
  line-height: 40px;
}

body {
  margin-top: 16px;
  font-family: poppins;
  color: #363636;
  background-color: #f5f5f5;
}

a {
  color: #363636;
  text-decoration: none;
}

a:visited {
  color: #363636 !important;
}

/* HEADINGS */

.h1 {
  font-size: 96px;
  font-weight: bold;
}

.h2 {
  font-size: 56px;
  font-weight: bold;
}

.h3 {
  font-size: 3rem;
  font-weight: bold;
}

.h4 {
  font-size: 2rem;
  font-weight: bold;
}

.h5 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
}

.h6 {
  font-size: 1rem;
  font-weight: bold;
}

/* ICONS */

svg {
  display: inline;
}

/* UTILITIES */

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.indent {
  text-indent: 2rem;
}

.normal-list li {
  margin-left: 1rem;
  padding-bottom: 1rem;
}
